 body {
  margin: 0;
  padding: 0;
 }

 header {
  background-color: darkkhaki;
  width: 100%;
  height: 120px;
 }
 h1 {
  text-align: center;
 }

 .large-img {
  margin: -55px 0 0 30px;
  padding: 20px;

 }

 pre {
  margin-left: -70px;
  margin-top: -30px;
 }
 
 #git-img {
  margin-top: -130px;
 }

.header-nav {
  background-color: dodgerblue;
  height: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}


 p {
    color: red;
 }

 img {
   border-radius: 40px;
 }

 ul {
   background-color: red;
 }

 .footer {
  width: 100%;
  height: 80px;
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  border: 10px double green;
 }

.first > .ff {
  display: grid;
  grid-template-rows: 3fr 10fr;
}

div:last-child {
  background-color: red;
}